# Core LLM & Graph
langchain
langchain-google-genai
langchain-community
langchain_upstage
langchain-chroma
langgraph

# Vector DB
chromadb
faiss-cpu

# UI
streamlit

# Utils
python-dotenv
python-dateutil
requests
pydantic

# Sentence Embedding
sentence-transformers